
.containers{
    padding: 5%;
    width: 100%;
    margin: 0;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50vh;
    border-radius: 5%;
    color: white;
    padding: 2% 0;
}




