.details{
height: 100px;
background-color: black;
margin-top: 1rem;
border-radius: 10px;
display: flex;
align-items: center;
justify-content: center;
padding: 0.5rem;
color: black;
font-weight: bold;
cursor: pointer;
}


.btn{
    background-color: black !important;
    color: white !important;
}

/* height: "2%",
backgroundColor: "white",
marginTop: "1rem",
borderRadius: "10px",
display: "flex",
alignItems: "center",
justifyContent: "center",
padding: "0.5rem" */
